body{
    text-align: center ;
    background-color: rgb(239, 239, 203);
}

.btn{
    height: 200px;
    width: 200px;
    border: 7px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.red{
    background-color: rgb(254, 0, 0);
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.flash{
    background-color: white;
}
.ph{
    background-color: rgb(240, 155, 27);
    border: 2px solid black;
    border-radius: 15%;
    height: 70px;
    width: 200px;
    margin: auto;
}

.box{
    background-color: rgb(194, 213, 213);
    height: 565px;
    width: 700px;
    margin: auto;
    border: 4px solid black;
    border-radius: 11%;
}

h3{
    font-size:25px;
}

h1{
    font-size: 50px;
}